---
const { node } = Astro.props;
import SidebarArticles from "../SidebarArticles.astro";
import SingleGameReviewSidebar from "../SingleGameReviewSidebar.astro";
import GameInfoShortcode from "../GameInfoShortcode.astro";
import OtherRelatedgames from "../OtherRelatedGames.astro";
import { generateBreadcrumbs } from "../../scripts/utils";
//console.log(node.seo.breadcrumbs);
const breadcrumb = generateBreadcrumbs(node.uri);
---

<div
  class="header-background bg-[url('https://slotsparadise.com/wp-content/uploads/2022/08/header-mob-v1.jpg')]
      md:bg-[url('https://slotsparadise.com/wp-content/uploads/2022/08/casino-guides-header-v23.jpg')] bg-cover bg-center text-white py-20"
>
  <div class="header-content-row max-w-[1440px] mx-auto px-4">
    <div class="page-title">
      <h1 class="entry-title text-2xl md:text-3xl font-giloryExtrabold">
        {node.title}
      </h1>
    </div>
  </div>
</div>

<!-- Main Page -->

<div class="post-content-row max-w-[1440px] mx-auto mt-8 lg:mt-16 px-2">
  <div class="casino_news_blocks grid grid-cols-1 gap-4 lg:grid-cols-3 lg:grid-flow-row xl:gap-x-14">
    <div class="lg:col-start-1 lg:col-end-3">
        <img
          class="featured-image rounded-lg overflow-hidden w-full"
          width="1200"
          height="667"
          src={node.featuredImage?.node?.sourceUrl}
          alt={node.title}
          title={node.title}
        />

        <div class="post-bread font-semibold pt-2">
        <div class="capitalize" set:html={breadcrumb} />
        <div
          class="font-semibold text-[#ff688b] text-[18px] mt-4"
          id="edit-post-link"
          data-astro-node-id={node.id}
        >
        </div>
      </div>
      </div>
      <div
      class="sidebar mt-5 px-2 lg:col-start-3 lg:col-end-4 lg:row-start-1 lg:row-end-4 lg:px-0 lg:mt-0"
    >
      <SingleGameReviewSidebar />
      <div class="mt-14"><GameInfoShortcode /></div>

      <h2
        class="text-[#ff688b] pb-3 font-medium font-giloryExtrabold text-3xl mt-10"
      >
        Articles
      </h2>
      <SidebarArticles />
    </div>
    <div class="post-content-module lg:col-start-1 lg:col-end-3">
      <article
        class="font-giloryRegular font-semibold pl-4 md:pl-0 single-game-content-article single_article"
        set:html={node.content}
      />

      <OtherRelatedgames />
    </div>
    
  </div>
</div>

<style is:global>
  .wp-block-image img {
    width: 100%;
    height: auto;
  }

  h2.wp-block-heading,
  h3.wp-block-heading {
    font-size: 26px;
    color: #ff688b;
    font-weight: 900;
    font-family: "Gilroy-ExtraBold";
    padding-bottom: 10px;
  }

  h3.wp-block-heading {
    font-size: 22px;
  }

  .post-content-module p {
    padding-bottom: 16px;
  }

  .post-content-module .related_topics ul {
    padding: 5px;
    padding-left: 10px;
  }

  .post-content-module .related_topics li {
    list-style-type: disc;
    margin-left: 20px;
  }

  .wp-block-table table {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
  }

  .wp-block-table table td {
    border: 1px solid black;
    padding: 5px;
  }

  .wp-block-table table strong {
    font-family: "Gilroy-Medium";
  }

  .related_topics {
    height: unset !important;
  }

  @media (max-width: 1280px) {
    .related_topics {
      background-position: left !important;
    }
  }
</style>

<script is:inline>
  function getLoggedInCookie(postID) {
    postID = postID.replace(/^post:/, "");
    const cookie = document.cookie.indexOf("wp-settings-time") !== -1;
    let anchor = "";
    if (cookie) {
      anchor = `<a href="https://slotsparadise.com/wp-admin/post.php?post=${postID}&action=edit">Edit post</a>`;
    }
    return anchor;
  }
  document.addEventListener("DOMContentLoaded", function (event) {
    const editPostLink = getLoggedInCookie(
      atob(
        document
          .getElementById("edit-post-link")
          .getAttribute("data-astro-node-id"),
      ),
    );
    document.getElementById("edit-post-link").innerHTML = editPostLink;
  });
</script>
