---
import Layout from "../layouts/Layout.astro";
import notFoundDesk from "../assets/images/page_not_found.webp"
import notFoundMob from "../assets/images/page_not_found_md.webp";
//console.log(notFoundDesk);
---

<Layout title="404 error">
  <div class=" mt-52 md:mt-48">
<!--     <a href="/" class="block h-screen" style={`background-image: url(${notFoundDesk.src}); background-position: center; background-size: cover; background-repeat: no-repeat;`}></a>
 -->  
<a href="/" class="hidden lg:block"><img src={notFoundDesk.src} width={notFoundDesk.width} height={notFoundDesk.height} alt="404 page" class="w-screen h-screen object-cover"/> </a>
<a href="/" class="block lg:hidden"><img src={notFoundMob.src} width={notFoundMob.width} height={notFoundMob.height} alt="404 page" class="w-screen h-screen object-cover"/> </a>

</div> 
</Layout>
