---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import SeoTags from "../components/SeoTags.astro";
import { getSeoData } from "../lib/seoUtils";
const seo = await getSeoData(Astro);
interface Props {
  title: string;
}

const { title } = Astro.props;

const fullUrl = Astro.request.url;

console.log(Astro.request.url);
const url = new URL(fullUrl);
const searchParams = url.searchParams;

const pageParam = searchParams.get("page");
const pageTitleSuffix = pageParam
  ? ` - Slots Paradise - Best Online Casino Games - Page ${pageParam}`
  : "";

const seoTitle = seo?.metaTitle
  ? `${seo.metaTitle}${pageTitleSuffix}`
  : `${title}${pageTitleSuffix}`;


  
---

<!doctype html>
<html lang="en">
  <head>
    <script src="../scripts/login.js"></script>
    <script src="../scripts/script.js"></script>
    <script
      src="https://slotsparadise.com/wp-shared-header-footer/common/lib/js/global.min.js?v=1.2.5"
    ></script>
    <link
      rel="stylesheet"
      href="https://slotsparadise.com/wp-shared-header-footer/common/lib/styles/global.min.css?v=1.2.5"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link
      rel="icon"
      type="image/svg+xml"
      href="/content/img/favicons/favicon.png?v=1711485276"
    /> -->
    <meta name="generator" content={Astro.generator} />
    <title>{seoTitle}</title>
    <SeoTags />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css"
      media="print"
      onload="this.media='all'"
    />

    <link
      rel="stylesheet"
      href="https://slotsparadise.com/wp-content/plugins/wp-customer-reviews/css/wp-customer-reviews.css?ver=3.6.8"
      media="print"
      onload="this.media='all'"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      media="print"
      onload="this.media='all'"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
      media="print"
      onload="this.media='all'"
    />

    <style>
      /* Register your custom font family and tell the browser where to find it. */

      @font-face {
        font-family: "Gilroy-Light";
        src: url("/fonts/Gilroy-Light.woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Gilroy-Bold";
        src: url("/fonts/Gilroy-Bold.woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Gilroy-Medium";
        src: url("/fonts/Gilroy-Medium.woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Gilroy-Regular";
        src: url("/fonts/Gilroy-Regular.woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Gilroy-ExtraBold";
        src: url("/fonts/Gilroy-ExtraBold.woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
    </style>

<!-- <script>
  // Remove multiple slashes from URL paths
  document.addEventListener("DOMContentLoaded", () => {
  // Clean up any multiple slashes in the pathname (except for the first one)
  const cleanPathname = window.location.pathname.replace(/\/{2,}/g, "/");

  // Check if the pathname needs to be cleaned
  if (cleanPathname !== window.location.pathname) {
    // Construct the full cleaned URL
    const cleanUrl = `${window.location.origin}${cleanPathname}${window.location.search}`;

    // Redirect to the cleaned URL with a 301 status
    window.location.replace(cleanUrl); // This mimics a 301 redirect
  }



});

</script> -->
<!-- <script>
  const originalUrl = new URL(window.location.href);
  const cleanPathname = originalUrl.pathname.replace(/\/{2,}/g, "/");
  if (cleanPathname !== originalUrl.pathname) {
    const cleanUrl = new URL(cleanPathname, originalUrl.origin);
    cleanUrl.search = originalUrl.search;
    window.location.href = cleanUrl.href;
    // Set the HTTP status code to 301
    window.history.pushState({ status: 301 }, "", cleanUrl.href);
  }
</script> -->

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-TSTVXS8");
    </script>
    <!-- End Google Tag Manager -->

    <script type="text/javascript">
      function setAffiliateCookie() {
        // Drop affiliate tracking cookie
        const urlParams = new URLSearchParams(window.location.search);

        if (
          urlParams.has("si") &&
          urlParams.has("bt") &&
          urlParams.has("dtag")
        ) {
          const cookieValue = encodeURIComponent(
            `{"bt":"${urlParams.get("bt")}","dtag":"${urlParams.get(
              "dtag",
            )}","si":"${urlParams.get("si")}"}`,
          );

          const affCookieValue = `r_i=${cookieValue};max-age=2592000;path=/`;
          document.cookie = affCookieValue;
        }
      }

      document.addEventListener("DOMContentLoaded", function () {
        setAffiliateCookie();
      });
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5WZF5ZY0PX"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-5WZF5ZY0PX");
    </script>

    <script async src="https://up.pixel.ad/assets/up.js?um=1"></script>
    <script type="text/javascript">
      cntrUpTag.track("cntrData", "7834ab18595ab3d8");
    </script>

    <script>
      window["_fs_host"] = "fullstory.com";
      window["_fs_script"] = "edge.fullstory.com/s/fs.js";
      window["_fs_org"] = "W47YD";
      window["_fs_namespace"] = "FS";
      !(function (m, n, e, t, l, o, g, y) {
        var s,
          f,
          a = (function (h) {
            return (
              !(h in m) ||
              (m.console &&
                m.console.log &&
                m.console.log(
                  'FullStory namespace conflict. Please set window["_fs_namespace"].',
                ),
              !1)
            );
          })(e);
        function j(b) {
          var h,
            d = [];
          function k() {
            h &&
              (d.forEach(function (b) {
                var d;
                try {
                  d = b[h[0]] && b[h[0]](h[1]);
                } catch (h) {
                  return void (b[3] && b[3](h));
                }
                d && d.then ? d.then(b[2], b[3]) : b[2] && b[2](d);
              }),
              (d.length = 0));
          }
          function r(b) {
            return function (d) {
              h || ((h = [b, d]), k());
            };
          }
          return (
            b(r(0), r(1)),
            {
              then: function (b, h) {
                return j(function (r, i) {
                  d.push([b, h, r, i]), k();
                });
              },
            }
          );
        }
        a &&
          ((g = m[e] =
            (function () {
              var b = function (b, d, k, r) {
                function i(i, c) {
                  h(b, d, k, i, c, r);
                }
                r = r || 2;
                var c,
                  u = /Async$/;
                return u.test(b)
                  ? ((b = b.replace(u, "")),
                    "function" == typeof Promise ? new Promise(i) : j(i))
                  : h(b, d, k, c, c, r);
              };
              function h(h, d, k, r, i, c) {
                return b._api
                  ? b._api(h, d, k, r, i, c)
                  : (b.q && b.q.push([h, d, k, r, i, c]), null);
              }
              return (b.q = []), b;
            })()),
          (y = function (b) {
            function h(h) {
              "function" == typeof h[4] && h[4](new Error(b));
            }
            var d = g.q;
            if (d) {
              for (var k = 0; k < d.length; k++) h(d[k]);
              (d.length = 0), (d.push = h);
            }
          }),
          (function () {
            ((o = n.createElement(t)).async = !0),
              (o.crossOrigin = "anonymous"),
              (o.src = "https://" + l),
              (o.onerror = function () {
                y("Error loading " + l);
              });
            var b = n.getElementsByTagName(t)[0];
            b.parentNode.insertBefore(o, b);
          })(),
          (function () {
            function b() {}
            function h(b, h, d) {
              g(b, h, d, 1);
            }
            function d(b, d, k) {
              h("setProperties", { type: b, properties: d }, k);
            }
            function k(b, h) {
              d("user", b, h);
            }
            function r(b, h, d) {
              k({ uid: b }, d), h && k(h, d);
            }
            (g.identify = r),
              (g.setUserVars = k),
              (g.identifyAccount = b),
              (g.clearUserCookie = b),
              (g.setVars = d),
              (g.event = function (b, d, k) {
                h("trackEvent", { name: b, properties: d }, k);
              }),
              (g.anonymize = function () {
                r(!1);
              }),
              (g.shutdown = function () {
                h("shutdown");
              }),
              (g.restart = function () {
                h("restart");
              }),
              (g.log = function (b, d) {
                h("log", { level: b, msg: d });
              }),
              (g.consent = function (b) {
                h("setIdentity", { consent: !arguments.length || b });
              });
          })(),
          (s = "fetch"),
          (f = "XMLHttpRequest"),
          (g._w = {}),
          (g._w[f] = m[f]),
          (g._w[s] = m[s]),
          m[s] &&
            (m[s] = function () {
              return g._w[s].apply(this, arguments);
            }),
          (g._v = "2.0.0"));
      })(window, document, window._fs_namespace, "script", window._fs_script);
    </script>
  </head>
  <body>
    <Header />

    <slot />

    <Footer />
    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"
      async></script>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-TSTVXS8"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!--  Comm100 Live Chat Code -->
    <div id="comm100-button-dynamic"></div>
    <script type="text/javascript">
      var Comm100API = Comm100API || {};

      function loadLiveChat() {
        var t = Comm100API;
        function e(e) {
          var a = document.createElement("script"),
            c = document.getElementsByTagName("script")[0];
          (a.type = "text/javascript"),
            (a.async = !0),
            (a.src = e + t.site_id),
            c.parentNode.insertBefore(a, c);
        }
        (t.chat_buttons = t.chat_buttons || []),
          t.chat_buttons.push({ div_id: "comm100-button-dynamic" }),
          (t.site_id = 80000228),
          (t.dynamic = true),
          e("https://vue.comm100.com/livechat.ashx?siteId="),
          setTimeout(function () {
            t.loaded ||
              e("https://standby.comm100vue.com/livechat.ashx?siteId=");
          }, 15000);
      }
      // Function to check scroll and load chat
      function checkScroll() {
        var scrollTop = window.scrollY || document.documentElement.scrollTop;
        var windowHeight =
          window.innerHeight || document.documentElement.clientHeight;
        var documentHeight = document.documentElement.scrollHeight;

        if (documentHeight - (scrollTop + windowHeight) < 100) {
          window.removeEventListener("scroll", checkScroll);
          loadLiveChat();
        }
      }
      window.addEventListener("scroll", checkScroll);

      // Fallback to load chat after a period if no scroll
      setTimeout(function () {
        window.removeEventListener("scroll", checkScroll);
        loadLiveChat();
      }, 15000);
    </script>
    <!-- End Comm100 Live Chat Code -->
  </body>
</html>
